<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Formulário Lugar</title>
</head>
<body class="bg-gray-100">

  <div class="flex justify-center pt-10">
    <form id="lugarForm" class="bg-white p-8 rounded-2xl shadow-lg w-full max-w-2xl space-y-6" [formGroup]="camposForm" (ngSubmit)="salvar()">

      <div>
        <label class="block text-gray-700 font-semibold mb-1">Nome</label>
        <input type="text" required formControlName="nome"
          class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" />
        <span class="text-sm text-red-500" *ngIf="isCampoInvalido('nome')" >Campo Obrigatório</span>
      </div>

      <div>
        <label class="block text-gray-700 font-semibold mb-1">Categoria</label>
        <select required formControlName="categoria" id="categoria" name="categoria" class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
          
          <option [value]=""> Selecione uma categoria</option>
          <option *ngFor="let cat of categorias" [value]="cat.nome">
            {{cat.nome}}
          </option>
        </select>
        <span class="text-sm text-red-500" *ngIf="isCampoInvalido('categoria')">Campo Obrigatório</span>
      </div>

      <div>
        <label class="block text-gray-700 font-semibold mb-1">Localização</label>
        <input type="text" required formControlName="localizacao"
          class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" />
        <span class="text-sm text-red-500" *ngIf="isCampoInvalido('localizacao')" >Campo Obrigatório</span>
      </div>

      <div>
        <label class="block text-gray-700 font-semibold mb-1">URL da Foto</label>
        <input type="url" required formControlName="urlFoto"
          class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" />
        <span class="text-sm text-red-500" *ngIf="isCampoInvalido('urlFoto')">Campo Obrigatório</span>
      </div>

      <div>
        <label class="block text-gray-700 font-semibold mb-1">Avaliação</label>
        <select required formControlName="avaliacao"
          class="w-full border border-gray-300 rounded-lg px-4 py-2 bg-white focus:outline-none focus:ring-2 focus:ring-blue-500">
          <option value="" disabled selected>Selecione uma avaliação</option>
          <option *ngFor="let nota of [0, 1, 2, 3, 4, 5]" [value]="nota">{{ nota }}</option>
        </select>
        <span class="text-sm text-red-500" *ngIf="isCampoInvalido('avaliacao')">Campo Obrigatório</span>
      </div>

      <button type="submit"
        class="w-full bg-blue-600 text-white py-3 rounded-lg font-semibold hover:bg-blue-700 transition">
        Cadastrar Lugar
      </button>
    </form>
  </div>

</body>
</html>
