/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mt-20{
    margin-top: 20px;
}

.mt-40{
    margin-top: 40px;
}

.mt-60{
    margin-top: 60px;
}

.full-width{
    width: 100%;
}

.ml-5{
    margin-left: 5px;
}
mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  font-size: 18px;
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}

a {
  display: flex;
  align-items: center;
  margin-left: 16px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
}

a:hover {
  color: #cfd8dc; /* cor mais clara ao passar o mouse */
}

mat-icon {
  margin-right: 4px;
}
